<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shaharben_ezra.moked24">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/hmercazName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OpenPdf"
            android:configChanges="orientation"
            android:label="@string/title_activity_opdf"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addImage"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartCreatePdfFile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".editOpenPdf"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".finalPdf"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".openSpecificPdfByName"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>